<div class="container">
  
<div class="main ">
  <h1>To do List</h1>

  <div style="padding-left: 100px" class="btn-wrapper">

    <input style="border-radius: 20px;" #newItem placeholder="add an item"
      (keyup.enter)="addItem(newItem.value); newItem.value = ''" class="lg-text-input" id="addItemInput" />

    <button style="border-radius: 50px; width: 55px;" class="btn-primary " (click)="addItem(newItem.value)">+</button>
  </div>
</div>


<!--This part should be componentized... -->
<h2>
  {{items.length}}
  <span *ngIf="items.length === 1; else elseBlock">item</span>
  <ng-template #elseBlock>items</ng-template>
</h2>

<div style="width: auto !important; margin-right: 400px; margin-left: 400px;
" class="btn-wrapper">
  <button class="btn btn-menu" [class.active]="filter == 'all'" (click)="filter = 'all'">
    All
  </button>

  <button class="btn btn-menu" [class.active]="filter == 'active'" (click)="filter = 'active'">
    To Do
  </button>

  <button class="btn btn-menu" [class.active]="filter == 'done'" (click)="filter = 'done'">
    Done
  </button>
</div>
<div class="mt-3">
  Items per Page:
  <select (change)="handlePageSizeChange($event)">
    <option *ngFor="let size of pageSizes" [value]="size">
      {{ size }}
    </option>
  </select>
</div>
<ul>
  <li *ngFor="let i of items | paginate: {
  itemsPerPage: pageSize,
  currentPage: page,
  totalItems: items.length }">
    <app-item (remove)="remove(i)" (edit)="edit()" [item]="i"></app-item>
  </li>
</ul>

<pagination-controls [responsive]="true" (pageChange)="handlePageChange($event)"></pagination-controls>


</div>